@{
    ViewBag.Title = "Details for selected chemical data sheet";
}
<!DOCTYPE html>
<html>
<head>
    <title>SignalR, Knockout JS and SqlTableDependency</title>
</head>
<body>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    Product URL at <a class="btn btn-primary" href="@ViewBag.Message2"> @ViewBag.Message2 </a>
    <h5>@ViewBag.FileStatus</h5>

</body>
</html>





